* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #FBEDD4;
    color: #d17b5e;
    line-height: 1.6;
    padding: 1rem;
}

.links {
    margin-left: 10px;
    padding: 1rem;

}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #FF8973;
}

h4 {
    margin-bottom: 0.5rem;
    color: #FF8973;
}

fieldset {
    border: 1px solid #FF8973;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    background-color: #FBEDD4;
}

legend {
    font-weight: 600;
    padding: 0 0.5rem;
    color: #FF8973;
    background-color: #FBEDD4;
    border-radius: 10px;
    border: 1px solid #FF8973;
}

input, select {
    font-family: "Bricolage Grotesque", sans-serif;
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #FF8973;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #FF8973;
    background-color: #FBEDD4;
}

input:focus, select:focus {
    border-color: #FF8973;
}

button {    
  width: 280px;
  height: 60px;
  border: 3px solid #FF8973;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background:#FF8973 ;
  font-size: 1.2em;
  font-weight: 550;
  color: #FBEDD4;
}

#botao-resultado {
    display: flex;
    justify-content: center;
    border: none;    
}

#botao-resultado:hover {
  background: #FBEDD4;
  color: #FF8973;
  font-size: 1.5em;
}

.aviso-data {
    color: #b91c1c;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.score {
    font-weight: bold;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

#uas7-final {
    background: #FF8973;
    padding: 1rem;
    border: 3px solid #FF8973;
    border-radius: 10px;
    margin-top: 1rem;
    color: #FBEDD4;
}

.secao-cards {
    display: none;
}

.secao-cards.visivel {
    display: flex;
    gap: 1rem;
}

.botoes {
    display: flex;
    gap: 1rem;
    padding-bottom: 15px;
}

.card {
    border-radius: 12px;
    padding: 1.5rem;
    padding-right: 0.5rem;
    box-shadow: 0 2px 8px;
    border: 1px solid;
    width: 500px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 15px;
    text-align: justify;
}

.card::-webkit-scrollbar {
    width: 6px;
}

.card::-webkit-scrollbar-thumb {
    background: #FF8973;
    border-radius: 12px;
}

.card::-webkit-scrollbar-button {
    display: block;
    height: 6px;
}

.botao-cards {
  font-weight: lighter;
  font-size: 14px;
  color: #FBEDD4;
  border-radius: 2rem;
  cursor: pointer;
  width: 150px;
  height: 30px;
  border: solid 3px #FF8973;
  background-color: #FF8973;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-uce {
    padding: 5px;
}


/*Responsividade*/

@media (min-width: 768px) {
    fieldset {
        padding: 1.5rem;
    }
}